<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ickkey.dzhousekeeper">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:largeHeap="true"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppStartLoadTranslucent">

        <activity android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".activity.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HouseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ChangePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
    </application>
</manifest>